<style>
	section {
		text-align: left !important;
	}
</style>

<section id="shortcuts">
	<ul>
		<li>
			<a class="padding" href="https://github.com/Pwnagotchi-Unofficial/" target="_blank"><i class="fab fa-github"></i> Github organisation</a>
		</li>
		<li>
			<a class="padding" href="https://discord.gg/PgaU3Vp" target="_blank"><i class="fab fa-discord"></i> unofficial Discord</a>
		</li>
		<li>
			<a class="padding" href="https://www.reddit.com/r/pwnagotchi/" target="_blank"><i class="fab fa-reddit"></i> r/pwnagotchi</a>
		</li>
	</ul>
</section>
<br>
<p>Built with <a title="love" target="_blank"><i class="fas fa-heart"></i></a> by <a href="https://github.com/Terminatoror" target="_blank">Terminatoror</a></p>
